@page
@model FUCarRentingSystem_RazorPage.Pages.Admin.CarRentals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarRental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarRental.CustomerId" />
            <input type="hidden" asp-for="CarRental.CarId" />
            <input type="hidden" asp-for="CarRental.PickupDate" />
            <div class="form-group">
                <label asp-for="CarRental.ReturnDate" class="control-label"></label>
                <input asp-for="CarRental.ReturnDate" class="form-control" />
                <span asp-validation-for="CarRental.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarRental.RentPrice" class="control-label"></label>
                <input asp-for="CarRental.RentPrice" class="form-control" />
                <span asp-validation-for="CarRental.RentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarRental.Status" class="control-label"></label>
                <input asp-for="CarRental.Status" class="form-control" />
                <span asp-validation-for="CarRental.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
